<form asp-action="Create">
    <div>
        <label>Name</label>
        <input name="name" />
    </div>
    <div>
        <label>Rank</label>
        <input name="rank" />
    </div>
    <div>
        <label>Description</label>
        <input name="description" />
    </div>
    <div>
        <input type="submit" />
    </div>


</form>